.userCard {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 10px 0;
  overflow: hidden;
}

.userCardChecked {
  border: 1px solid #6d5acf;
  background-color: #9dbcd4;
  box-shadow: 0 10px 15px darkgrey;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 10px 0;
  overflow: hidden;
}

.profileImg {
  width: 100px;
  border-radius: 50%;
  margin: 10px 20px 10px 20px;
}

.userCardChecked .profileImg {
  border: 3px solid #6d5acf;
  width: 100px;
  border-radius: 50%;
  margin: 10px 20px 10px 20px;
}

.userTagline {
  color: #8c8f8d;
  font-size: 15px;
}

.binIcon {
  margin-left: auto;
  width: 50px;
}

@media screen and (max-width: 468px) {
  .userCard,
  .userCardChecked {
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
  }

  .userCard p,
  .userCardChecked p {
    text-align: center;
  }

  .userTagline {
    text-align: center;
  }

  .binIcon {
    margin: 0 auto;
  }
}
